[submodule "usb-sniffify"]
	path = usb-sniffify
	url = https://github.com/blegas78/usb-sniffify.git
[submodule "zmqpp"]
	path = zmqpp
	url = https://github.com/zeromq/zmqpp.git
[submodule "nico"]
	path = nico
	url = https://github.com/mogillc/nico.git
[submodule "raw-gadget-timeout"]
	path = raw-gadget-timeout
	url = https://github.com/xairy/raw-gadget.git
[submodule "python/flexx_gamepad"]
	path = python/flexx_gamepad
	url = https://github.com/ash3rz/flexx_gamepad.git
