[Unit]
Description=ChaosController interceptor
After=network.target

[Service]
Type=simple
Restart=on-abnormal
RestartSec=1
ExecStart=/bin/bash /usr/local/bin/chaos/start.sh

[Install]
WantedBy=multi-user.target
